# Node
node_modules/

# Environment files
.env
.env.*

# Next.js / build
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db
